.logo {
  transform: scale(0.6, 0.6);
}
.page-name {
  font-family: montserrant-bold;
  font-size: 1.5rem !important;
  color: #6b6c6f;
  align-items: center;
  align-content: center;
  align-self: center;
}
.languages {
  width: 30px;
  margin-right: 10px;
  margin-top: 10px;
  height: auto;
  margin: auto auto;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.header-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 1em;
}
@media (max-width: 700px) {
  .page-name {
    font-size: 1.1rem !important ;
  }
  .header-container {
    width: 100%;
  }
}
