html {
  height: 100%;
}

/* .page-cont{
  margin-left: 9.5% ;
} */
.container {
  height: 100vh;
  background: #004472;
  clip-path: polygon(53% 0, 100% 50%, 60% 100%, 0 100%, 0 0);
  overflow: hidden;
}

.languages{
  height: auto ;
   margin:auto auto;
   cursor: pointer;
 }

.logo {
  transform: scale(0.7, 0.7);
}
.inline {
  display: inline-block;
  margin-right: 70pt;
  margin-bottom: 10pt;
}
.inlineRadio {
  display: inline-block;
  margin-right: 30pt;
}

.login-button {
  padding: 10px;
  width: 100pt;
  height: 25pt;
  border: none;
  margin-left: 25%;
  margin-top: 10pt;
  border-radius: 25px;
  background: #efb747;
  font-family: montserrant-bold;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: #fafafa;
  cursor: pointer;
  opacity: 1;
  animation: input_opacity 0.8s cubic-bezier(0.55, 0, 0.1, 1);
  transition: background 0.2s ease-in-out;
}

.login-button.raised {
  padding: 5px 10px;
  color: #e37f00;
  background: #fafafa;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.137255),
    0px 1px 5px 0px rgba(0, 0, 0, 0.117647), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
  background: #005086;
}

.login-button.raised:hover {
  background: #fdab43;
}

h1.login-text2 {
  color: hsl(225, 2%, 43%);
  /* margin: left; */
  margin-bottom: 0.8em;
  font-family: montserrant-bold;
  font-size: 1.5rem;
  font-weight: bolder;
}

h1.welcome {
  color: #fafafa;
  font-size: 3.2rem;
  font-family: montserrant-bold;

  /* transform: translate(40%, -240%); */
}

.centered {
  height: 60%;
  width: 70%;
  margin: 10% auto;

  /* transform: translate(200%, -170%); */
}

h6.error {
  color: #ff0000;
}
@media (max-width: 950px) and (min-width: 520px) {
  h1.welcome {
    font-size: 2rem;

    /* transform: translate(40%, -240%); */
  }
}
@media (max-width: 520px) {
  .container {
    clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 51%, 0 0);
    height: 115%;
  }
  h1.welcome {
    font-size: 1.3rem;
    text-align: center;

    /* transform: translate(40%, -240%); */
  }
  h1.login-text2 {
    font-size: 1.1rem;
  }
}

@media (min-width: 1500px) {
  .full-height-desktop {
    height: 85%;
  }
  h1.welcome {
    font-size: 4rem;
  }
}
