
  <div class="row">
    <div [ngClass]="innerWidth>520 ? 'col col-6' : 'col col-12'">
      <div class="container ">
          <div class="row">
            <div  class="col col-2">
              <img role="button" [routerLink]="['/login']" src="../../../assets/icons/back-arrow.png" alt="">
            </div>
            <div class="col col-2">
              <img src="../../../assets/fidiaLogo/Group 1689.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h1 class="welcome">
                Please, answer the following questions.
              </h1>
            </div>
          </div>
      </div>
    </div>



    <div class="col col-md-6 col-xs-12">
      <div class="centered">
      <h1 class="login-text2">
        Are you using IAHA?
        </h1>
      <div  class="inlineRadio" *ngFor="let item of iaha">
      <input type="radio" [(ngModel)]="iahaSelected" name="iahaselect" value="{{item.value}}" />
                {{item.name}}
      </div>
    <br>
    <br>
      <h1 class="login-text2">
        In Which Joint(s)?
        </h1>
        <div class="row" *ngFor="let jointRow of joints">
          <div class="col" *ngFor="let joint of jointRow">
            <label>
                <input type="checkbox"
                  [name]="joint.name"
                  [(ngModel)]="joint.checked"
                  value="{{joint.id}}"
                  >
                  {{joint.name}}
            </label>
          </div>
        </div>
        <br>
        <br>
      <h1 class="login-text2">
                How many injections do you perform per month?
                </h1>
                <div class="inlineRadio" *ngFor="let item of injections">
                        <input type="radio" [(ngModel)]="injectionsSelected" name="injections" value="{{item.value}}" />
                        {{item.name}}
                </div>
                <h6 *ngIf="error" class="error" >{{errorMessage}}</h6>
                <button (click)="next()" type="submit" class="login-button">NEXT</button>
      </div>
    </div>
  </div>



