<div class="no-gutters">
  <app-joint-header [jointName]="jointName"> </app-joint-header>
  <div class="joint-white-container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 title">
            {{ title }}
          </div>
          <div class="col-12 mt-3">
            <div class="row align-items-center justify-content-start">
              <div
                class="col-10 offset-1 offset-md-0 col-md-4 col-xl-3 pl-4 pl-lg-5 text-center"
              >
                <img
                  class="joint-image2 w-100"
                  src="{{
                    apiService.getAssetsService().getThumbnailsUrl() +
                      data.thumbnailPath
                  }}"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row description">
          <div [innerHtml]="htmlFile"></div>
        </div>
      </div>
    </div>
  </div>
</div>
