

<div class="split right">
 <img class="side-img" src="../../../assets/login/sideimage.png" >
 <h1 class="welcome">
  Welcome to InsideJoints.
</h1>
</div>
    <div  class="split left">
      <div class="rounded float-left logo">
        <img src="../../../assets/fidiaLogo/Group 1689.png" alt="Fidia Logo">
      </div>

      <div class="centered">
        <div class="login-text">
          Login to your account
        </div>
        <h1 class=login-text2>
          e-mail
        </h1>
        <input class="login-input" [(ngModel)]="email" type="text" placeholder="someone@email.com"  required />
        <h1 class=login-text2>
          Password
        </h1>
        <input class="login-input" [(ngModel)]="password" type="password" class="login-input" placeholder="password" required/>
        <h4 *ngIf="error" class="error" >{{errorMessage}}</h4>
        <div >
          <button (click)="register()" type="submit" class="login-button">REGISTER</button>
          <button (click)="login()" type="submit" class="login-button">LOGIN</button>
        </div>
      </div>
  </div>



