<div class=" no-gutters">
  <div class="container-fluid w-100 no-gutters">
    <div class="row w-100 page-header">
      <div class="col-md-12">
        <div class="float-left ">
          <div class="float-left logo">
            <img src="../../../assets/fidiaLogo/Group 1689.png" alt="Fidia Logo">
          </div>
        </div>
        <div class="float-right products ">
          <div class=" float-right">
            Products
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
     <div class="row">
      <div class="col md-12 ">
        <div class="row ">
          <div class="col">
              <img class="image"src="../../../assets/products-photo/xfidia-slide4.jpg.pagespeed.ic.x0C8HaECKd.png" alt="">
          </div>
        </div>
        <div class="row ">
          <div class="col page-title">
            Our Products
          </div>
        </div>
      </div>
    </div>
  </div>


  </div>

