<div class=" no-gutters">
  <div class="container-fluid w-100 no-gutters">
    <div class="row w-100 page-header">
      <div class="col-md-12">
        <div class="float-left ">
          <div class="float-left logo">
            <img src="../../../assets/fidiaLogo/Group 1689.png" alt="Fidia Logo">
          </div>
        </div>
        <div class="float-right products ">
          <div class=" float-right">
            Products
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="container-fluid">
     <div class="row">
      <div class="col md-12 ">
        <div class="row ">
          <div class="col">
              <img class="image"src="../../../assets/products-photo/xfidia-slide4.jpg.pagespeed.ic.x0C8HaECKd.png" alt="">
          </div>
        </div>
        <div class="row ">
          <div class="col page-title">
            Our Products
          </div>
        </div>
      </div>
     </div>
    </div>
    <div class="no-gutters container products-container">
        <div class="col-md-12">
          <div class="products">
             <div class="row">
              <div class="col md-1">
                <img (click)="onLeftArrow()"class="arrow-left" src="../../../assets/arrows/Path 1809.png" alt="">
              </div>
              <div class="col-md-2 my-product border options " *ngFor="let product of products">
              <div class="row">
                <div class="col product-image option-image ">
                  <img src="../../../assets/item-photo/hyalgan-logo-color.png" alt="">
                </div>
              </div>
                <div class="row product-icons">
                    <div class="col-4 no-gutters">
                      <img class="no-gutters product-icon video-icon"src="../../../assets/icons/128.png" alt="Video">
                    </div>
                    <div (click)="goToLink( product.websiteLink  )"class="col-4">
                      <img class="product-icon  web-icon" src="../../../assets/signup/82.png" alt="Link">
                    </div>
                    <div class="col-4">
                      <img class="product-icon pdf-icon" src="../../../assets/icons/pdf.png" alt="">
                    </div>
                  </div>
             </div>
             <div class="col md-1">
              <img (click)="onRightArrow()"class="arrow-right" src="../../../assets/arrows/Path 1677.png" alt="">
            </div>
             </div>
             </div>
          </div>
      </div>
    </div>


