html,
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: montserrant-bold;
  text-decoration: none;
}

.languages-container{
  padding-right: 1em ;
  padding-left:1em ;
  padding-bottom: 0;
  padding-top: 0.5em;
}
.icons {
  /* padding-left:4vw ; */
  height: auto;
  margin: 0 auto;
  transform: scale(1.5, 1.5);
}
.fas {
  color: #acacac;
}
.list-group-item {
  /* background:  #005086; */
  text-decoration: none !important;
  margin-left: -8px;
  margin-bottom: 10px;
  width: 9vw;
  border: none;

  /* padding-left: 3.5vw; */
}
.icon-name,
.icons {
  transition: all 0.3s;
}
.list-group-item:hover .icon-name {
  color: #efb747 !important;
  text-decoration: none !important ;
}
.list-group-item:hover .icons {
  color: #efb747 !important;
  text-decoration: none !important ;
}

.logout {
  position: absolute;
  top: 80%;
}
.company-name {
  /* background: #005086 ; */
  /* padding-bottom:5vh; */
  width: 80%;
  margin: 2rem 0.5rem;
}
.icon-name {
  font-size: 0.7rem;
  text-align: center;
  font-family: montserrant-bold-italic !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  margin: auto auto;
}
#wrapper {
  overflow-x: hidden;
  max-height: 100vh;
}

#sidebar-wrapper {
  width: 10% !important ;
  min-height: 100vh !important;
  margin-left: -15rem;
  margin-right: 0px !important;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-top-right-radius: 20pt !important;
  border-bottom-right-radius: 20pt !important;
  float: left;
  width: fit-content;
  align-items: center;
  justify-content: center;

}

#sidebar-wrapper .sidebar-heading {
  min-width: 10vh;
}

/* #sidebar-wrapper .list-group {
  max-width: 100px;
} */

#page-content-wrapper {
  min-width: 100vw !important ;
  overflow: hidden;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 700px) {
  #sidebar-wrapper {
    margin-left: 0;

  }

  #page-content-wrapper {
    min-width: 100 !important ;
    max-height: 100vh;
    width: 100% !important ;
    overflow: hidden !important ;
    background-color: #fafafa !important ;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}


.no-gutters {
  padding-right: 0px !important ;
  padding-left: 0px !important ;
  margin-left: 0px !important;
  margin-left: 0px !important;
}
.wrapper {
  padding-right: 0px !important ;
  padding-left: 0px !important ;
  margin-left: 0px !important;
  margin-left: 0px !important;
  min-width: 100vh !important;
  min-height: 100vh !important;
}

@media (max-width: 700px) {
  .icons {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2vh;
    display: block;
    transform: scale(1, 1);
  }
  .list-group-item {
    /* background:  #005086; */
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin: auto auto;
    width: auto;
  }
}

@media (min-width: 1400px) {
  .icon-name {
    font-size: 0.8rem;
  }
}

@media (max-width: 1235px) and (min-width: 1024px) {
  .icon-name {
    font-size: 0.7rem;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
  }
}
@media (min-width: 1700px) {
  .icon-name {
    font-size: 1rem;
  }
  .icons {
    justify-content: right;
    justify-self: right;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    transform: scale(2, 2);
  }
}

.logo {
  width: 60%;
}
