<div class=" no-gutters">
 <app-header [pageImageSource]="pageImageSrc" [pageName]="pageTitle"></app-header>
     <div class="row">
      <div class="col md-12 ">
        <div class="no-gutters col-md-12 ">
          <div class="row">
          <div class="col-md-6 title-description">
            <div class=" my-container">
            <div class="row ">
              <div class="col page-title">
                {{ chosenConference.title}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <img class="calendar"src="../../../../assets/icons/141.png" alt="">
              </div>
              <div class="col-md-10 calendar-text">
              {{ displayedStartDate }}    -    {{ displayedEndDate }}
              </div>
            </div>
            <div class="row">
              <div class="col about-conference">
                About Conference
              </div>
            </div>
            <div class="row">
              <div class="col description">
                {{ chosenConference.description }}
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-6">
            <div class="row about-conference">
              Conference Details
            </div>
            <div class="row w-100 ">
              <div (click)="goToPdfLink( chosenConference.schedulePath )" role="button" (mouseover)="changeProgramIcon=true;" (mouseout)="changeProgramIcon=false"class="col-md-3 offset-1 options no-gutters" >
                <img *ngIf="!changeProgramIcon"class="option-image" src="../../../assets/icons/37.png" alt="Download pdf">
                <img *ngIf="changeProgramIcon"class="option-image" src="../../../assets/icons/asset-3.png" alt="Download pdf">
                <div class="row">
                  <div class="col ellipse">
                  </div>
                </div>
                <div class="row option-details">
                  Program
                </div>
              </div>
              <div (click)="goToVideoLink( chosenConference.videoPath )" role="button" (mouseover)="changeVideoIcon=true;" (mouseout)="changeVideoIcon=false" class="col-md-3 offset-1 options" >
                <img *ngIf="!changeVideoIcon"class="option-image"src="../../../assets/icons/128.png" alt="">
                <img *ngIf="changeVideoIcon"class="option-image"src="../../../../assets/icons/asset-1.png" alt="">
                <div class="row">
                  <div class="col ellipse">
                  </div>
                </div>
                <div class="row option-details">
                  Video
                </div>
              </div>
              <div  role="button" (mouseover)="changeQuestionsIcon=true;" (mouseout)="changeQuestionsIcon=false"(click)="goToQuestions( chosenConference.questions )" routerLink="questions"class="col-md-3 offset-1 options questions-image" >
                <img  *ngIf="!changeQuestionsIcon"class="option-image " src="../../../assets/icons/87.png" alt="">
                <img *ngIf="changeQuestionsIcon"class="option-image " style="padding-bottom:0px!important; transform: scale(0.7,0.7);" src="../../../assets/icons/asset-2.png" alt="">
                <div class="row">
                  <div class="col ellipse">
                  </div>
                </div>
                <div class="row option-details">
                  Questions
                </div>
              </div>
          </div>
        </div>
      </div>
      </div>
     </div>

