
.page-title{
 font-family: montserrant-extra-bold;
 color :  #005086 ;
 font-size: 8vh;
 text-align: left;
}
.my-container{
  margin-left: 140px ;
}
.calendar{
  background-color: #EFB747;
  transform: scale(0.6,0.6);
  padding-right: 5px ;
  padding-left: 5px;
  padding-top: 5px;
  /* padding-bottom: 5px; */
}
.calendar-text{
  font-family: montserrant-medium;
  color: #6B6C6F;
  font-size: 16pt;
  padding-top: 8px ;
}
.about-conference{
  font-family: montserrant-bold;
  color: #6B6C6F ;
  font-size: 5vh;
  padding-bottom: 4vh;
  padding-top: 2vh ;
}
.description{
  font-family: montserrant;
  color: #6B6C6F ;
  font-size: 3vh;
  padding-bottom: 4vh;
}
.option-details{
  padding-top: 20% ;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.ellipse{
  margin-top: 10% ;
  margin-left:7.5% ;
  width: 50% !important ;
  height:2.5% !important ;
}
.options:hover .option-details{
  background-color:  #005086;
  color: #EFB747;
}
.options:hover{
  background-color:  #005086;
}
.questions-image{
  padding-left : 0vw !important;
}
.container-fluid{
  height:25vmax !important;
}
