<div class=" no-gutters">
  <div class="container-fluid w-100 no-gutters">
    <div class="row w-100 page-header">
      <div class="col-md-12">
        <div class="float-left ">
          <div class="float-left logo">
            <img src="../../../assets/fidiaLogo/Group 1689.png" alt="Fidia Logo">
          </div>
        </div>
        <div class="float-right conferences ">
          <div class=" float-right">
            Conferences
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="container-fluid">
     <div class="row">
      <div class="col md-12 ">
        <div class="row ">
          <div class="col">
            <img class="image"src="../../../assets/conferences-photo/man-speaker-eusic-2017-conference.png" alt="">
          </div>
        </div>
        <div class="no-gutters col-md-12 ">
          <div class="row">
          <div class="col-md-6 title-description">
            <div class=" my-container">
            <div class="row ">
              <div class="col page-title">
                {{ chosenConference.title}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <img class="calendar"src="../../../../assets/icons/141.png" alt="">
              </div>
              <div class="col-md-10 calendar-text">
              {{ displayedStartDate }}    -    {{ displayedEndDate }}
              </div>
            </div>
            <div class="row">
              <div class="col about-conference">
                About Conference
              </div>
            </div>
            <div class="row">
              <div class="col description">
                {{ chosenConference.description }}
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-6">
            <div class="row about-conference">
              Conference Details
            </div>
            <div class="row w-100 ">
              <div class="col-md-3 offset-1 options" >
                <img class="option-image" src="../../../assets/icons/37.png" alt="Download pdf">
                <div class="row option-details">
                  Program
                </div>
              </div>
              <div class="col-md-3 offset-1 options" >
                <img class="option-image"src="../../../assets/icons/128.png" alt="">
                <div class="row option-details">
                  Video
                </div>
              </div>
              <div class="col-md-3 offset-1 options" >
                <img class="option-image" src="../../../assets/icons/87.png" alt="">
                <div class="row option-details">
                  Questions
                </div>
              </div>
          </div>
        </div>
      </div>
      </div>
     </div>
    </div>
