.no-gutters{
  background:  #005086!important;
  height: 100vh;
}
@media(max-width:700px){
  .joint-white-container{

    width: 100%;
    margin: 0 auto;
    margin-bottom: 13% ;
  }
  .element-thumbnail{
    height: 5rem;
    width: 4rem ;
    /* display: block;
    margin: auto; */
  }

}
