

<div class="split right">
  <img class="side-img" src="../../../assets/login/sideimage.png" >
  <h1 class="welcome">
    Sign up to InsideJoints.
 </h1>
 </div>
     <div  class="split left">
      <div class="rounded float-left logo">
        <a click="goBack()">
          <img  src="../../../../assets/icons/back-arrow.png" alt="Back">
        </a>

         <img src="../../../assets/fidiaLogo/Group 1689.png" alt="Fidia Logo">
       </div>

       <div class="centered">
         <div class="login-text">
          Sign Up to new account.
         </div>
         <br>
         <div style="display: inline-block;" >
         <h1 class=login-text2>
         First Name
        </h1>
         <input class="login-input" [(ngModel)]="firstName" type="text" placeholder="First Name"  required />
         <h1 class=login-text2>
          Last Name
         </h1>
          <input class="login-input" [(ngModel)]="lastName" type="text" placeholder="Last Name"  required />
         <h1 class=login-text2>
           E-mail
         </h1>
          <input class="login-input" [(ngModel)]="email" type="text" placeholder="someone@email.com"  required />
          <h1 class=login-text2>
            Country
          </h1>
           <input class="login-input" [(ngModel)]="country" type="text" placeholder="Country"  required />
          </div>
          <div style="display: inline-block;" >
           <h1 class=login-text2>
            City
          </h1>
           <input class="login-input" [(ngModel)]="city" type="text" placeholder="City"  required />
           <h1 class=login-text2>
            Work Place
          </h1>
           <input class="login-input" [(ngModel)]="workPlace" type="text" placeholder="Work Place"  required />
           <h1 class=login-text2>
            Contact Number
          </h1>
           <input class="login-input" [(ngModel)]="contactNumber" type="string" placeholder="Contact Number"  required />
          <h1 class=login-text2>
           Password
          </h1>

       <input class="login-input" [(ngModel)]="password" type="password" class="login-input" placeholder="password" required/>
      </div>
       <div>
         <button (click)="signUp()" type="submit" class="login-button">Sign Up</button>
       </div>
       </div>
     </div>



