
.skeleton{
  margin-top: -55vh;
  transform: scale(0.6,0.6);
}
.my-container{
  padding-left: 15vw ;
}
.welcome{
  font-family:montserrant-bold ;
  text-align: left;
  font: italic ;
}
.inside-joints{
  font-family: montserrant-bold-italic;
  text-align: left;
  font: italic ;
  color:  #005086 ;
}
.title{
  color:  #005086 ;
  font-size: 8vh;
}
.title-container{
  padding-top: 15vh
}
.description{
  font-family: montserrant;
  font-size: 2.2vh;
  /* max-width: 200px; */
}
/* .left-column{
  margin-left: ;
} */

