
  <app-header></app-header>
    <div class="my-container row">
      <div class="col-md-6 title-container">
        <div class="row welcome title">
          Welcome to
        </div>
        <div class="row inside-joints title">
        InsideJoints.
        </div>
        <div class="description">
          Welcome to Inside Joints, the best pharmaceutical company
          on the planet.
        </div>
      </div>
    <div class="col-md-6 skeleton">
      <img src="../../../assets/skeleton/tr.png" alt="Skeleton">
      <div [routerLink]="['/joint']"(click)= "goToJoint('Neck','../../../assets/joints/Joints-09.png')"class="dot-container neck">
        <img role="button"src="../../../assets/redSpot/Group 1654.png" alt="">
        <p class="desc"> Neck</p>
      </div>
      <div [routerLink]="['/joint']"class="dot-container hand">
        <img role="button"src="../../../assets/redSpot/Group 1654.png" alt="">
        <p class="desc"> Hand</p>
      </div>
      <div [routerLink]="['/joint']"class="dot-container elbow">
        <img role="button"src="../../../assets/redSpot/Group 1654.png" alt="">
        <p class="desc"> Elbow</p>
      </div>
      <div [routerLink]="['/joint']"class="dot-container shoulder">
        <img role="button"src="../../../assets/redSpot/Group 1654.png" alt="">
        <p class="desc shoulder-desc"> Shoulder</p>
      </div>
      <div [routerLink]="['/joint']"class="dot-container ankle">
        <img role="button"src="../../../assets/redSpot/Group 1654.png" alt="">
        <p class="desc ankle-desc"> Ankle</p>
      </div>
      <div [routerLink]="['/joint']"class="dot-container hip">
        <img role="button"src="../../../assets/redSpot/Group 1654.png" alt="">
        <p class="desc hip-desc"> Hip</p>
      </div>
      <div [routerLink]="['/joint']"class="dot-container foot">
        <img role="button"src="../../../assets/redSpot/Group 1654.png" alt="">
        <p class="desc"> Foot</p>
      </div>
      <div [routerLink]="['/joint']"class="dot-container knee">
        <img role="button"src="../../../assets/redSpot/Group 1654.png" alt="">
        <p class="desc"> Knee</p>
      </div>
    </div>
  </div>




