<div class="container col wrapper">
 <div class="row main-row">
  <div class="col-md-12 container left-column">
    <div class="row">
      <div class="rounded float-left logo">
        <img src="../../../assets/fidiaLogo/Group 1689.png" alt="Fidia Logo">
      </div>
    </div>
    <div>
      <div class="col container title-container">
        <div class="row welcome title">
          Welcome to
        </div>
        <div class="row inside-joints title">
        InsideJoints.
        </div>
        <div class="description">
          desc desc desc desc desc desc  desc desc desc desc
        </div>
      </div>
    </div>
  </div>
  <div class="col skeleton">
    <img src="../../../assets/skeleton/tr.png" alt="Skeleton">
  </div>
</div>
</div>



