.wrapper{
  margin-left: 150px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width:fit-content
}
.skeleton{
  margin-top: -700px;
  margin-left: 350px;
  transform: scale(0.6,0.6);
}
.logo{
  margin-top: 20px;
  transform: scale(0.6,0.6);
}
.welcome{
  font-family:montserrant-bold ;
  text-align: left;
  font: italic ;
}
.inside-joints{
  font-family: montserrant-bold-italic;
  text-align: left;
  font: italic ;
  color:  #005086 ;
}
.title{
  color:  #005086 ;
  font-size: 36pt;
}
.title-container{
  margin-top: 120px
}
.description{
  font-family: montserrant;
  font-size: 12pt;
  max-width: 200px;
}
/* .left-column{
  margin-left: ;
} */

