
.welcome{
  font-family:montserrant-bold ;
  font: italic ;
  font-size: 2.5rem;
  color:  #005086 ;
}
.inside-joints{
  font-family: montserrant-bold-italic;
  font: italic ;
  color:  #005086 ;
  font-size : 2.5rem ;
}

.description{
  font-family: montserrant;
  font-size: 1rem;
  color:#6B6C6F ;
   /* max-width: 30vw; */
}
.knee{
  position: absolute;
  left: 35%;
  top:64% ;
}
.desc{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -150% ;
  top:10% ;
  color:#005086 ;
  /* transition: opacity .2s, visibility .2s; */
}
.shoulder-desc{
  left: 150% ;
}
.hip-desc{
  left: 150% ;
}
.ankle-desc{
  left:150%
}
.dot-container{
  transform: scale(0.6,0.6);
}
.dot-container:hover .desc{
  visibility: visible;
  opacity: 1;
  font-family: montserrant-medium-italic;
  font-size:5vh
}
.hand{
  position: absolute;
  left: 23%;
  top:48% ;
}
.elbow{
  position: absolute;
  left: 26%;
  top:33% ;
}

.ankle{
  position: absolute;
  bottom:9% ;
  right:37%
}
.foot{
  position: absolute;
  bottom:6.5% ;
  left:36%
}
.neck{
  position: absolute;
  top:16% ;
  left:41%
}
.shoulder{
  position: absolute;
  top:19% ;
  right:30%
}
.hip{
  position: absolute;
  top:43% ;
  right:34%
}

.home-container {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: center !important;
}

.skeleton-img{
  /* transform: scale(0.6,0.6) ; */
  max-width:80% ;
  display:block;
  margin:0 auto ;


}
.text-area{
  padding:1.5em;
  width:70%;
  margin:0 auto;
}
.skeleton-container{
  position: relative
}



@media (min-width:769px) {

  .home-container {
      flex-direction: row; /**/
      justify-content: space-between;
      align-items: center !important;


  }

  .text-area {
      width: 45%;

  }

  .skeleton-container {
      width: 33.5%;
      max-height: 70%;
      position: relative;

  }

.welcome{
  font-family:montserrant-bold ;
  font: italic ;
  font-size: 3.5rem;
  color:  #005086 ;
}
.inside-joints{
  font-family: montserrant-bold-italic;
  font: italic ;
  color:  #005086 ;
  font-size : 3.5rem ;
}

.description{
  font-family: montserrant;
  font-size: 1.5rem;
  color:#6B6C6F ;
   /* max-width: 30vw; */
}




}
@media (min-width:769px) {


  .skeleton-container {
    margin-top:-10%

  }




}
/* Portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
  .home-container {
    flex-direction: column;

  }
}
@media (max-width: 700px){

.home-container {
width: 100%
}
.text-area {
  width: 100%;

}

.skeleton-container {
 width: 100%

}
}
/* /.skeleton-container{
  transform: scale(0.6,0.6);
  display: block;
  margin: auto;
  margin-top: -55vh;
  margin-bottom:0vh ;
}  */
