* {
  box-sizing: border-box;
}
.welcome {
  font-family: montserrant-bold;
  font: italic;
  font-size: 2.5rem;
  color: #005086;
}
.inside-joints {
  font-family: montserrant-bold-italic;
  font: italic;
  color: #005086;
  font-size: 2.5rem;
}

.description {
  font-family: montserrant;
  font-size: 1rem;
  color: #6b6c6f;
  /* max-width: 30vw; */
}
.knee {
  position: absolute;
  left: 31%;
  top: 64%;
}
.desc {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -150%;
  top: 10%;
  color: #005086;
  /* transition: opacity .2s, visibility .2s; */
}
.shoulder-desc {
  left: 150%;
}
.hip-desc {
  left: 150%;
}
.ankle-desc {
  left: 150%;
}
.dot-container {
  transform: scale(0.6, 0.6);
}
.dot-container:hover .desc {
  visibility: visible;
  opacity: 1;
  font-family: montserrant-medium-italic;
  font-size: 5vh;
}
.hand {
  position: absolute;
  left: 17%;
  top: 47%;
}
.elbow {
  position: absolute;
  left: 20%;
  top: 33%;
}

.ankle {
  position: absolute;
  bottom: 10%;
  right: 34%;
}
.foot {
  position: absolute;
  bottom: 6%;
  left: 32%;
}
.neck {
  position: absolute;
  top: 8%;
  left: 38%;
}
.shoulder {
  position: absolute;
  top: 20%;
  right: 27%;
}
.hip {
  position: absolute;
  top: 41%;
  right: 33%;
}

.home-container {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center !important;
}

.skeleton-img {
  /* transform: scale(0.6,0.6) ; */
  max-height: 85vh;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .dot-container {
    transform: scale(0.8, 0.8);
  }
}
@media (max-width: 375px) {
  .dot-container {
    transform: scale(0.6, 0.6);
  }
  .welcome {
    font-size: 2rem;
  }
}
@media (max-width: 375px) {
  .skeleton-img {
    max-height: 80vh;
  }
}
@media (max-width: 1024px) {
  .welcome {
    font-size: 2rem;
  }
}
@media (min-width: 1600px) {
  .welcome {
    font-size: 3.5rem;
  }
}

.skeleton-container {
  position: relative;
}

@media (min-width: 769px) {
  .home-container {
    flex-direction: row; /**/
    justify-content: space-between;
    align-items: center !important;
  }

  .skeleton-container {
    max-height: 65%;
    position: relative;
  }

  
  .inside-joints {
    font-family: montserrant-bold-italic;
    font: italic;
    color: #005086;
    font-size: 3.5rem;
  }

  .description {
    font-family: montserrant;
    font-size: 1.5rem;
    color: #6b6c6f;
    /* max-width: 30vw; */
  }
}

/* Portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .home-container {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .home-container {
    width: 100%;
  }
  .text-area {
    width: 100%;
  }
  
  .inside-joints {
    font-family: montserrant-bold-italic;
    font: italic;
    color: #005086;
    font-size: 2rem;
  }
  .skeleton-container {
    width: 100%;
    margin-bottom: 5%;
    margin-top: 0;
  }
  .text-area {
    text-align: center;
  }
  .neck {
    top: 6%;
    left: 40%;
  }
  .elbow {
    left: 25%;
    top: 32%;
  }
  .hand {
    position: absolute;
    left: 23%;
    top: 47%;
  }
  .knee {
    position: absolute;
    left: 35%;
    top: 63%;
  }
  .ankle {
    position: absolute;
    bottom: 8%;
    right: 37%;
  }
  .foot {
    position: absolute;
    bottom: 5%;
    left: 35%;
  }
}

@media (max-width: 768px) and (min-width: 500px) {
  .hand {
    position: absolute;
    left: 19%;
    top: 48%;
  }
  .elbow {
    position: absolute;
    left: 22%;
    top: 34%;
  }

  .ankle {
    position: absolute;
    bottom: 10%;
    right: 36%;
  }
  .foot {
    position: absolute;
    bottom: 7.5%;
    left: 35%;
  }
  .neck {
    position: absolute;
    top: 8%;
    left: 41%;
  }
  .shoulder {
    position: absolute;
    top: 20.5%;
    right: 29%;
  }
  .hip {
    position: absolute;
    top: 44%;
    right: 35%;
  }
  .knee {
    position: absolute;
    left: 34%;
    top: 65%;
  }
}

@media (max-width: 2600px) and (min-width: 1700px) {
  .hand {
    position: absolute;
    left: 18%;
    top: 49%;
  }
  .elbow {
    position: absolute;
    left: 21%;
    top: 34%;
  }

  .ankle {
    position: absolute;
    bottom: 10%;
    right: 36%;
  }
  .foot {
    position: absolute;
    bottom: 7.5%;
    left: 34%;
  }
  .neck {
    position: absolute;
    top: 8%;
    left: 40%;
  }
  .shoulder {
    position: absolute;
    top: 21.5%;
    right: 28.5%;
  }
  .hip {
    position: absolute;
    top: 43%;
    right: 36%;
  }
  .knee {
    position: absolute;
    left: 33%;
    top: 64.5%;
  }
}
@media (min-width: 1600px) {
  .skeleton-container {
    margin-top: 0 !important;
  }
}
