<div class="row">
  <div class="col-md-12 question-container">
    <div class="row w-100">
      <div class="col-md-12 question">
       {{ questionNumber }} - {{ title }}
      </div>
    </div>
    <div class="row w-100">
      <div class="col " *ngFor="let answer of answers">
        <div class="form-check">
          <input class="form-check-input" name = "{{answerName}}"  type="radio" value="option1" >
          <label class="form-check-label choice">
             {{ answer }}
          </label>
      </div>
      </div>
    </div>
  </div>
</div>
