.no-gutters {
  background: #005086 !important;
  min-height: 100vh;
  padding-bottom: 30px;
}
.element-thumbnail {
  width: 50%;
  margin: 20% 25%;
}
@media (max-width: 700px) {
  .joint-white-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 13%;
  }
  .element-thumbnail {
    width: 70%;
    margin: 20% 0;
  }
}
