<div class="no-gutters">
  <app-header
    *ngIf="apiService.getLangService().lang == 'en'"
    [pageImageSource1]="pageImageSrc1"
    [pageImageSource2]="pageImageSrc2"
    [pageName]="pageTitle"
  ></app-header>
  <app-header
    *ngIf="apiService.getLangService().lang != 'en'"
    [pageImageSource1]="pageImageSrc1"
    [pageImageSource2]="pageImageSrc2"
    [pageName]="pageTitleFr"
  ></app-header>
  <div class="no-gutters no-padding w-100">
    <div class="col-md-12 w-100 bottom-part">
      <div class="row w-100">
        <div class="col-lg-6 col-12 title-description">
          <div class="my-container">
            <div class="row">
              <div class="col">
                <h3 class="description">
                  {{aboutUs}}
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12 details-section pr-md-5 pr-lg-4">
          <div class="row">
            <div class="col details">{{ "details" | translate }}</div>
          </div>
          <div class="row options-container justify-content-center">
            <div
              role="button"
              class="col-5 offset-1 options"
              (mouseover)="changePdfIcon = true"
              (mouseout)="changePdfIcon = false"
              (click) = "goToPdfLink()"
            >
              <img
                class="option-image"
                *ngIf="!changePdfIcon"
                src="../../../assets/icons/pdf.png"
                alt="Download pdf"
                style="width: 53px"
              />
              <img
                class="hover option-image"
                *ngIf="changePdfIcon"
                src="../../../assets/icons/pdf-1.png"
                alt="Download pdf"
                style="width: 53px"
              />
              <h5 class="view-company-text">View company profile</h5>
            </div>

            <div
              role="button"
              class="col-5 offset-1 options"
              (mouseover)="changeVideoIcon = true"
              (mouseout)="changeVideoIcon = false"
              (click)= "goToVideoLink()"
            >
              <img
                class="video-icon option-image"
                *ngIf="!changeVideoIcon"
                src="../../../assets/icons/128.png"
                alt="Video"
              />
              <img
                class="video-icon hover option-image"
                *ngIf="changeVideoIcon"
                src="../../../assets/icons/asset-1.png"
                alt=""
              />
              <h5 class="view-company-text">View company video</h5>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
