.logo{
  margin-top: 20px;
  transform: scale(0.6,0.6);
}
.about-us{
  font-family: montserrant;
  font-size: 14pt;
  color:#6B6C6F;
  position: absolute;
  top: 35px;
  right: 10px ;
}
.page-header{
  padding-left:160px;
}
.image{
  height:350px ;
  width: auto ;
  background-size: cover;
}
.title{
  font-family: montserrant-extra-bold;
  font-size: 65px;
  color:  #005086 ;
}
.no-gutters{
  padding-right: 0px !important ;
  padding-left: 0px !important ;
  margin-left: 0px !important;
  margin-left: 0px !important;
}
.desription{
  font-family:montserrat ;
  font-size: 18px ;
  text-align: left;
  color:#6B6C6F ;
}
.title-description{

  min-height : 100% !important ;
  float: left;
}
.my-container{
  margin-left: 150px !important ;
}
.details{
  font-family:montserrat-bold ;
  font-size: 30px ;
  text-align: left;
  color: #6B6C6F;
  padding-bottom: 25px;
}
.wrapper{
  min-height:100% !important

}
.details-section{
  float: right;
  padding-bottom: 20px;
}
/* .bottom-part{
  margin-left: 200px;
} */
.widgets-row{
  width: 100%;
}
.hover{
  background-color:  #005086;
}

