
.title{
  font-family: montserrant-extra-bold;
  font-size: 8vh;
  color:  #005086 ;
}
.no-gutters{
  padding-right: 0px !important ;
  padding-left: 0px !important ;
  margin-left: 0px !important;
  margin-left: 0px !important;
}
.description{
  font-family:montserrant ;
  font-size: 2vh ;
  text-align: left;
  color:#6B6C6F ;
  padding-top: 1vw ;
}
.title-description{

  min-height : 100% !important ;
  float: left;
}
.my-container{
  margin-left: 12vw !important ;
  padding-left: 3vw !important ;
  padding-top:2vw ;
}
.details{
  font-family:montserrant-bold ;
  font-size: 4vh ;
  text-align: left;
  color: #6B6C6F;
  padding-bottom: 6vh;
  padding-top: 4vh;
  padding-left: 4vw;
}
.wrapper{
  min-height:100% !important

}
.details-section{
  float: right;
  padding-bottom: 2vh;
  padding-left:10vw
}
/* .bottom-part{
  height:40vh
} */
.widgets-row{
  width: 100%;
}
.hover{
  background-color:  #005086;
}
.options:hover{
  background-color:  #005086;
}
/* .no-gutters{
  min-height: 100vh;
} */
.option-image{
  padding-top: 5vh;
  /* padding-left: vw; */
}

