<div class="no-gutters">
  <app-header [pageName]="pageTitle"></app-header>
  <div class="row w-100">
    <img class="image"src="../../../../assets/conferences-photo/man-speaker-eusic-2017-conference.png" alt="">
  </div>
  <div class="row">
    <div class="col-md-12 rounded-circle thank-you-container">
      <div class="row">
        <img class="thank-you-image"src="../../../../assets/icons/111.png" alt="Thumbs Up">
      </div>
      <div class=" row thank-you">
        Thank You!
      </div>
      <div class="row description">
        Your response has been recorded. <br>
        Thank you for your time.
      </div>
    </div>
  </div>
</div>
