.image{
   max-height:250px !important;
   width: 100vw !important;
  object-fit: cover;
}
.logo{
  margin-top: 20px;
  transform: scale(0.6,0.6);
}

.page-header{
  padding-left:160px;
}
.page-title{
  font-family: montserrant-extra-bold;
  color :  #005086 ;
  font-size: 8vh;
  text-align: left;
  margin-left: 13vw ;
  padding-top:1vh ;
  padding-left: 5vh ;
  padding-bottom: 1vh ;
}

.conferences{
  border: 5px;
}
.pdf-icon{
  transform: scale(0.6,0.6);

}
.video-icon{
  transform: scale(0.7,0.7);
}
.web-icon{
  transform: scale(0.8,0.8);
}

.conferences-container{
  height: 40vh;
  margin-left: 10vw;
}
.conference-image{
  transform: scale(0.8,0.8);
    flex-shrink: 0;
      width: 100%;
      height: 30vh ;
      max-height:30vh ;
    /* padding-right: 15px ;
    margin-left : -20px !important; */
}

.conference-details{
  font-family: montserrant-italic;
  font-size: 14px;
  color:  #6B6C6F ;
  display: block;
  margin:auto ;

}

/* .row::after {
  display: flex;
} */
.ellipse{
  margin-top: 5% ;
  margin-left:12.5% ;
  width: 50% !important ;
  height:2.5% !important ;
}
.option-details{

  justify-content: center;
  text-align: center;
  padding-bottom: 1vh;
  padding-top:15% ;
}
.options:hover{
  background-color:  #005086;
}
.options:hover .option-details{
  background-color:  #005086;
  color: #EFB747;
}
