.image{
   max-height:250px !important;
   width: 100vw !important;
  object-fit: cover;
}
.logo{
  margin-top: 20px;
  transform: scale(0.6,0.6);
}

.page-header{
  padding-left:160px;
}

.pdf-icon{
  transform: scale(0.6,0.6);

}
.video-icon{
  transform: scale(0.7,0.7);
}
.web-icon{
  transform: scale(0.8,0.8);
}

.image-cont{
  margin-bottom: 0.5em ;
}

/* .row::after {
  display: flex;
} */
.ellipse{
padding:0.4% ;
max-width : 40% !important ;
}
.option-details{

  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
  padding-top:5% ;;
}
.options:hover{
  background-color:  #005086;
}
.options:hover .option-details{
  background-color:  #005086;
  color: #EFB747;
}


/* @media (max-width:1024px and min-width:768px){

} */
