.joint-name{
  padding-left: 16vw;
  font-family: montserrant-bold;
  color: white ;
  font-size:4vh ;
  padding-top:3vh ;
}
.joint-container{
  background-color: #FFFFFF;
  height: 45vh ;
  width: 23vw ;
  border-radius: 2vw;
}
.joint-image{
  display: block;
  margin:auto!important ;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  transform: translateY(40%);
}
.no-gutters{
  background:  #005086!important;
  height:100vh
}
.content-container{
  margin-left:14vw ;
  margin-top: 27vh ;

}
.my-container{
  margin-top: 10vh ;
  clip-path: circle();
  background-color: #FFFFFF;
  padding: 4vw;
  margin-left:-0.5vw ;
}
.my-container:hover{
  margin-top: 5vh ;
  clip-path: circle();
  background-color: #FFFFFF;
  padding: 6vw;
  margin-left:-2vw ;
}

.horizontal-divider{
  /* padding-top:13vh ; */
  margin-top:21vh ;
  background-color: #FFFFFF;
  height:3vh ;

}
.col-md-1{
  padding: 0px!important;
  margin: 0px!important;
  width:fit-content !important
}
.col-md-4{
  padding: 0px!important;
  margin: 0px!important;
}
.my-image{
  display: block;
  justify-content: center;
  align-content: center;
  margin-left: -1vw ;
}
.my-container:hover .my-image{
  margin-left:-2vw ;

}
.manuals-image{
  margin-left:-1.5vw  ;
}
.option-desc{
  padding-left: 1.5vw;
  font-family: montserrant;
  color: white ;
  font-size:3vh ;
  margin-top:-1vh ;
  opacity:1!important;
  visibility: visible;
}

.ellipse{
  clip-path: ellipse(43% 3% at 50% 50%);
  opacity: 48% !important;
  visibility: visible !important;
}
.joint-name-2{
  font-family: montserrant-bold;
  color:  #005086;
  font-size:4vh ;
  display:block ;
  margin-top:15vh ;
  margin-left:7.5vw ;
}
