<div class="test row align-items-center pb-5 pb-lg-0">
  <div class="row justify-content-center mt-5 ml-md-5">
    <div class="col-9 col-md-4 col-xl-3">
      <div class="card text-center p-md-4" style="border-radius: 2vw">
        <div class="card-body">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <img class="" src="{{ jointImageSrc }}" alt="" />
              <h5 class="mt-5 pt-md-5 joint-name-2"> {{ apiService.getJointService().jointName}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mb-5 ml-md-5">
    <div class="col-7 col-md-3 mt-5 mt-xl-0 text-center">
      <div class="row justify-content-center">
        <div class="col-9 text-center d-flex justify-content-center">
          <div
            class="card text-center custom-card"
            role="button"
            [routerLink]="['manuals']"
            [queryParams]="{ bodyPart: jointName, imgSrc: jointImageToManuals }"
            (mouseover)="manualsChangeIcon = true"
            (mouseout)="manualsChangeIcon = false"
          >
            <div class="card-body">
              <div class="row h-100 align-items-center">
                <div class="col-12">
                  <img
                    class="test-image"
                    src="../../../assets/secondaryNav/books-stack-of-three.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h5 class="option-desc">{{ "manuals" | translate }}</h5>
    </div>
    <div class="col-7 col-md-3 mt-5 mt-xl-0 text-center">
      <div class="row justify-content-center">
        <div class="col-9 d-flex justify-content-center">
          <div
            class="card text-center custom-card"
            role="button"
            [routerLink]="['videos']"
            [queryParams]="{ bodyPart: jointName }"
            (mouseover)="videosChangeIcon = true"
            (mouseout)="videosChangeIcon = false"
          >
            <div class="card-body">
              <div class="row h-100 align-items-center">
                <div class="col-12">
                  <img
                    class="test-image"
                    src="../../../assets/secondaryNav/85.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h5 class="option-desc">{{ "videos" | translate }}</h5>
    </div>
    <div class="col-7 col-md-3 mt-5 mt-xl-0 text-center">
      <div class="row justify-content-center">
        <div class="col-9 d-flex justify-content-center">
          <div
            class="card text-center custom-card"
            [routerLink]="['evidences']"
            [queryParams]="{ bodyPart: jointName }"
            (mouseover)="evidencesChangeIcon = true"
            (mouseout)="evidencesChangeIcon = false"
          >
            <div class="card-body">
              <div class="row h-100 align-items-center">
                <div class="col-12">
                  <img
                    class="test-image"
                    src="../../../assets/secondaryNav/document.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h5 class="option-desc">
        {{ "scientific" | translate }} <br />
        {{ "evidence" | translate }}
      </h5>
    </div>
  </div>
</div>
