.joint-name {
  padding-left: 16vw;
  font-family: montserrant-bold;
  color: white;
  font-size: 3rem;
  padding-top: 3vh;
}
.joint-container {
  background-color: #ffffff;
  width: 100%;
  height: 45vh;
  border-radius: 2vw;
}
.joint-image {
  display: block;
  margin: auto !important ;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  transform: translateY(40%);
}
.no-gutters {
  background: #005086 !important;
  height: 100vh !important;
}

.my-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ffffff;
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
  position: relative;
  z-index: 1;

  /* margin: auto 0 ; */
  transition: all 0.2s;
}
.my-container:hover {
  background-color: #efb747;
}
.horizontal-divider {
  /* padding-top:13vh ; */
  /* margin-top:21vh ; */
  background-color: #ffffff;
  height: 3vh;
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
  position: relative;
  z-index: 0;
}

.col-md-1 {
  padding: 0px !important;
  margin: 0px !important;
  width: fit-content !important;
}
.col-md-4 {
  padding: 0px !important;
  margin: 0px !important;
}
.my-image {
  height: 50px !important;
  display: block;
  justify-content: center;
  align-content: center;
  transition: all 0.2s;
}

/* .manuals-image{
  margin-left:-2em  ;
} */
.option-desc {
  /* padding-left: 1.5vw; */
  font-family: montserrant;

  justify-content: center;
  justify-items: center;
  color: white;
  font-size: 1.5rem;

  opacity: 1 !important;
  visibility: visible;
}

.ellipse {
  clip-path: ellipse(43% 3% at 50% 50%);
  opacity: 48% !important;
  visibility: visible !important;
}
.joint-name-2 {
  font-family: montserrant-bold;
  color: #005086;
  font-size: 2rem;
  display: block;
  align-items: center;
  margin-top: 30%;
  align-self: center;
  text-align: center;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .joint-container {
    width: 120%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .joint-container {
    width: 80%;
    height: auto;
    margin: 5% auto;
  }
  .joint-name {
    padding: 0 !important;
    margin-top: 1rem;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
  }

  .my-container {
    transition: all 0.2s;
  }

  .horizontal-divider {
    margin-top: 0rem;
    margin-right: 0;
    padding: 0 5%;
  }
}

.options {
  width: 130vw;
  box-shadow: none;
}
@media (max-width: 550px) {
  .options {
    margin-left: 0px;
    width: auto;
  }
  .no-gutters {
    height: 145vh !important;
  }
}

@media (max-height: 376px) {
  .no-gutters {
    height: 145vh !important;
  }
}
@media (max-width: 768px) {
  .options {
    margin-top: 20px;
    width: 115vw;
  }
}
@media (max-width: 321px) {
  .no-gutters {
    height: 200vh !important;
    margin-bottom: 30px;
  }
}
