<div class="no-gutters">
  <div class="row">
    <div class="col">
      <div class="joint-name">
        {{ jointName }}
      </div>
    </div>
  </div>
  <div class="row content-container">
    <div class="col-md-3">
      <div class="joint-container">
          <div class="row">
            <div class="col">
              <img class="joint-image"src="{{jointImageSrc}}" alt="">
            </div>
           </div>
           <div class="row">
            <div class="col">
              <div class="joint-name-2">
                {{ jointName }}
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col horizontal-divider">
    </div>
    <div role="button" [routerLink]="['manuals']"[queryParams]="{bodyPart:jointName }"class="col-md-1 ">
      <div class="row ">
        <div class="col my-container">
          <img class="my-image"src="../../../assets/secondaryNav/books-stack-of-three.png" alt="">
        </div>
      </div>
        <div class="row">
          <div class="col-md-12 option-desc">
             Manuals
          </div>
        </div>
    </div>
    <div class="col horizontal-divider">
    </div>
    <div role="button" [routerLink]="['videos']"[queryParams]="{bodyPart:jointName }" class="col-md-1">
      <div class="row">
        <div class="col my-container">
          <img class="my-image" src="../../../assets/secondaryNav/85.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col option-desc">
          Videos
        </div>
      </div>
    </div>
    <div class="col horizontal-divider ">
    </div>
    <div role="button" [routerLink]="['evidences']"[queryParams]="{bodyPart:jointName }" class="col-md-1 ">
      <div class="row">
        <div class="col my-container">
          <img class="my-image" src="../../../assets/secondaryNav/document.png" alt="">
        </div>
       </div>
      <div class="row">
        <div class="col option-desc">
           Scientific <br> Evidence
        </div>
      </div>
    </div>
    <div class="col horizontal-divider">
    </div>
  </div>
</div>
