/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'montserrant';
  src: url('assets/fidiaWebFonts/Montserrat-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrant-black';
  src: url('assets/fidiaWebFonts/Montserrat-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrant-bold';
  src: url('assets/fidiaWebFonts/Montserrat-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrant-italic';
  src: url('assets/fidiaWebFonts/Montserrat-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrant-bold-italic';
  src: url('assets/fidiaWebFonts/Montserrat-BoldItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrant-extra-bold';
  src: url('assets/fidiaWebFonts/Montserrat-ExtraBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrant-medium';
  src: url('assets/fidiaWebFonts/Montserrat-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrant-semi-bold';
  src: url('assets/fidiaWebFonts/Montserrat-SemiBold.otf  ') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrant-medium-italic';
  src: url('assets/fidiaWebFonts/Montserrat-MediumItalic.otf  ') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.arrow-left{
  padding-right: 0px !important;
  padding-left: 1vw !important ;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
.arrow-right{
  padding-right: 0px !important;
  padding-left: 0vw !important ;
  margin: 0;

  -ms-transform: translateY(50%);
  transform: translateY(50%);
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.options{
  /* padding-right: 15px ;
  padding-left: 15px; */
  border-radius: 10px;
  border-width: 1px 1px ;
  box-shadow: 0px 1px 20px 1px #ACACAC;
  border-top: 0px !important;
  border-bottom:0px !important ;
  margin: auto;
  width:12vw ;
  height:26.6vh ;
  padding: 0px !important;
  /* width: min-content !important; */
}
.option-details{
  font-family: montserrant-bold;
  color: #005086 ;
  font-size: 12pt;
  display: block;
  margin:auto ;
  padding-left: 10px ;
}
.option-image{
  display: block;
  margin: auto;
  margin-top: 15% ;
  max-width: 10.5vw ;
  max-height: 14vh

}
.image{
  height:35vh ;
  width: 100vw ; ;
  background-size: cover;
}
body{
  background-color: #FAFAFA;
}
.ellipse{
  color: #ACACAC ;
  background: #ACACAC;
  opacity:48% ;
  border-radius: 50% ;
  height:1vh ;
  max-width:9vw!important ;
  display: block;
  margin: auto;
  position: absolute;
  left:2vw ;
}
.joint-white-container{
    background: #FFFFFF ;
    margin-top: 10vh ;
    margin-right: 5vw ;
    height:77% ;
    border-radius: 4% ;
    margin-left: 15vw ;
    padding-left: 0vw!important ;

}
.elements-row{
  height:12.7vh ;
  margin-top: 7.5vh ;
  padding-top:7.5vh ;
  padding-left: 2.8vw ;
  padding-right: 2.8vw ;
}
.element-thumbnail{
  height: 12.7vh;
  width: 8vw ;
  display: block;
  margin: auto;
}
.element-title{
  font-family: montserrant-bold;
  font-size:2.5vh ;
  color: #005086 ;
  text-align: left;
  justify-content: left;
  line-height: 3vh ;;
  padding-left:1vw ;
  padding-bottom:1vh;
  padding-top:0.5vh;
}
.element-description{
  font-family: montserrant;
  font-size:1.6vh ;
  color: #6B6C6F;
  padding: 0px!important;
}
.element-number{
  font-family: montserrant-bold;
  font-size:2vh ;
  color: #6B6C6F;
  transform: translateY(40%);
  height:12.7vh ;
}
