/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'montserrant';
  src: url('assets/fidiaWebFonts/Montserrat-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrant-black';
  src: url('assets/fidiaWebFonts/Montserrat-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrant-bold';
  src: url('assets/fidiaWebFonts/Montserrat-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrant-italic';
  src: url('assets/fidiaWebFonts/Montserrat-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrant-bold-italic';
  src: url('assets/fidiaWebFonts/Montserrat-BoldItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
